body, html {
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 0px;
}
button {
    font-family: 'Jua', sans-serif;
    width: 80%;
    font-size: 50px;
    border: none;
    border-radius: 100px;
    background-color: #f2e5a2;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    padding: 4px;
    margin: 15px;
    transition: all 0.3s;
}
div {
    font-family: 'Jua', sans-serif;
    word-break: keep-all;
}
p {
    font-family: 'Jua', sans-serif;
    font-size: 25px;
    margin: 0px;
    pointer-events: none;
}
.swal-title, .swal-text {
    font-family: 'Jua',
    sans-serif;
}
.swal-button {
    width: 80px;
}
.screen {
    margin: 0px;
    width: 100%;
    height: 100%;
    background-color: #81ac8b;
}
.logo {
    width: 300px;
    object-fit: contain;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    pointer-events: none;
}
.logo.main, .logo.host {
    top: 8%;
}
.logo.ingame {
    top: 6%;
}
.tools {
    position: absolute;
    text-align: center;
    width: 100%;
    left: 50%;
    transform: translateX(-50%);
}
.tools.main {
    bottom: 40%;
}
.tools.host {
    bottom: 27%;
}
.tools.join {
    bottom: 35%;
}
.tools.ingame {
    bottom: 20%;
}
.tools.fin {
    bottom: 17%;
}
input.code {
    position: relative;
    font-family: 'Jua', sans-serif;
    text-align: center;
    width: 70%;
    font-size: 30px;
    border: none;
    border-radius: 100px;
    background-color: #fffbe4;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    padding: 15px;
}
.loading {
    position: relative;
    left: 50%;
    top: 70px;
    width: 100px;
    height: 100px;
    background-color: #fffbe4;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    animation: spin 1s infinite linear;
}
.load-cir {
    position: relative;
    right: 0px;
    top: 50px;
    transform: translateY(-50%);
    width: 40px;
    height: 40px;
    background-color: #1e2827;
    border-radius: 50%;
}
.question {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    font-size: 30px;
    padding: 23px;
    margin: 0px;
    background-color: #fffbe4;
    width: 70%;
    border-radius: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.buttons, .names {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}
.buttons > button {
    display: inline-flex;
    font-size: 40px;
    width: 40%;
    height: 170px;
    border-radius: 50px;
    margin: 10px 2px 10px 2px;
    justify-content: center;
    word-break: keep-all;
}
.name {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    width: 40%;
    height: 70px;
    border-radius: 35px;
    margin: 10px 2px 10px 2px;
    background-color: #f2e5a2;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.loadbar-parent {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
    height: 40px;
    background-color: #fffbe4;
    border-radius: 20px;
    box-shadow: 0 0 10px #d9666680;
    margin-top: 50px;
    padding: 0px;
}
.loadbar-child {
    animation: loadbar 3s linear;
    background-color: #d96666;
    height: 40px;
    border-radius: 20px;
}
.loadbar-child-green {
    position: relative;
    top: -40px;
    background-color: #00c060;
    height: 40px;
    border-radius: 20px;
    opacity: 0;
}
.score {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    font-size: 30px;
    padding: 23px;
    margin: 0px;
    background-color: #f2e5a2;
    width: 70%;
    border-radius: 60px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.score > p {
    font-size: 90px;
}
.capture {
    margin-top: 40px;
    font-size: 35px;
}

@keyframes spin {
    0% { transform: translateX(-50%) rotate(0deg); }
    100% { transform: translateX(-50%) rotate(360deg); }
}
@keyframes loadbar {
    0% { width: 40px; }
    100% { width: 100% }
}